{% extends 'base.html' %}

{% block content %}
    <h1 class="mt-4 mb-4">Todo Lists</h1>

    <form method="post" action="{% url 'create-todo-list' %}" class="mb-4">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Create TodoList</button>
    </form>

    <ul class="list-group">
        {% for todo_list in todo_lists %}
            <li class="list-group-item">
                <a href="{% url 'todo-list-detail' id=todo_list.id %}">{{ todo_list.title }}</a>
                <a href="{% url 'delete-todo-list' id=todo_list.id %}" class="float-right btn btn-danger btn-sm">Delete</a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}